body {
  
}

div{
  padding: 10px;
  background-color:cornflowerblue; 
  align-content: center;
  text-align: center;
  font: 25px "Lucida Console", Helvetica, Arial, sans-serif;
  color: azure;
}

a {
  color: #00B7FF;
}
